<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tales">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconcarre"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconrond"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu_java.Menu1Item"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu_java.Menu1Conso"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu_java.Menu1Arte"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu_java.Artedetail"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu_java.Menu1Syn"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu_java.Syndetail"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu_java.Menu1Equi"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu_java.Menu2Arme"
            android:screenOrientation="portrait"/>

    </application>

</manifest>